{% extends 'base.html' %}



{% block content %}
<section id="styles" class="s-styles">
 <div class="row narrow section-intro add-bottom text-center">






<form method="POST" action="" >
<label for="w3review">Spell Checker:</label>
<textarea id="w3review" name="sample" rows="4" cols="50" placeholder="Place your text in here" required>
  </textarea>
  <br><br>
   <p><input type="submit" value="Submit"></p>
</form>

  </div>
 </section> <!-- end styles -->

<!-- 
{{ value.incorrect }}
<hr>

{{ value.words }}
<hr>

{{ value.options }} -->
<hr>
{{ value.json }}



<script>

// //  let words =  '{{ value.incorrect }}'
//  let predicted =  '{{ value.words }}'



//  if (words){
//   console.log(words)
//   console.log(predicted)
//   console.log({{ value.data}})

  
//  }else {
//   console.log('Nothing')}
var value =  {{ value|safe }}

if (value.options){
  
  console.log (typeof(value.options))
  console.log ((value.options)
}else{
  console.log('nothing')
}
</script>


{% endblock %}